version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - chore
      - github-actions
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    labels:
      - chore
      - dependencies
    allow:
      - dependency-name: "github.com/hashicorp/packer-plugin-sdk"
      - dependency-name: "github.com/vmware/govmomi"
